/* import the fonts */
@import url(fontiran.css); 
/* setting the direction of the document*/
body{
    font-family: IRANSans !important;
}
.navbar .container{
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}