/* import the fonts */
@import url(fontiran.css); 
/* setting the direction of the document*/
body{
    font-family: IRANSans !important;
}
.navbar .navbar-brand{
    font-size: 1.8rem;
    color: #ff7f00;
}
.nav-height{
    height: 8rem;
}
@media (max-width: 576px) {
    .navbar .navbar-brand{
        font-size: 1.8rem;
    }
    .sm-none{
        display: none;
    }
    .navbar .container .btn{
        font-size: .8rem;
    }
    .navbar .container .btn i{
        display: none;
    }
    .navbar .container .form-control{
        font-size: .8rem;
        line-height: .8rem;
    }
}